<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <%- include('./partials/header.ejs')%>
        <p>ce site a été crée par moi(Milly Christian). il utilise l'Api de géolocalisation de Mapbox.com et l'Api de météo de Openweathermap.org pour trouver votre localisation et vous donner la météo la concernant</p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    <hr>
    <%- include('./partials/footer.ejs')%>
</body>

</html>